PORT=4000
NODE_ENV=production
NAME=Proof Generation API

ETHEREUM_RPC=["https_url_for_eth_rpc1", "https_url_for_eth_rpc2"]
MATIC_RPC=["https_url_for_matic_rpc1", "https_url_for_matic_rpc2"]
ZKEVM_MAINNET_URL=https_url_for_zkevm_mainnet

SEPOLIA_RPC=["https_url_for_sepolia_rpc2"]
AMOY_RPC=["https_url_for_amoy_rpc2"]
ZKEVM_TESTNET_URL=https_url_for_zkevm_testnet

SENTRY_DSN=sentry dsn

PRETTY_LOGS=true # Prettyprint logs instead of raw JSON output (for local dev)
