# Example config.yml

app:
  port: 5000
  nodeEnv: // production or dev
  name: Network APIs
  maticRPCs: 
    - https url for matic rpc1
    - https url for mativ rpc2
  ethereumRPCs: 
    - https url for eth rpc1
    - https url for eth rpc2
  goerliRPC: https url for goerli rpc2
  mumbaiRPC: https url for mumbai rpc2
